---
import {getCollection} from 'astro:content'
import ImageWithPlaceholder from '~/components/ImageWithPlaceholder.astro'
import Prose from '~/components/Prose.astro'
import BaseLayout from '~/layouts/BaseLayout.astro'
import {getGalleryImages} from '~/utils/galleries'

export const getStaticPaths = async () =>
  (await getCollection('galleries')).map((gallery) => ({
    params: {slug: gallery.slug},
    props: {gallery},
  }))

const {gallery} = Astro.props
const {Content} = await gallery.render()
const images = await getGalleryImages(gallery.slug)
---

<BaseLayout title="Photography" back="/photography" fullWidth>
  <h2 class="font-sans text-xl text-gray-950 md:text-2xl">{gallery.data.name}</h2>
  <p class="mb-4 text-sm uppercase text-gray-600">
    {gallery.data.date.toLocaleString('en-us', {year: 'numeric', month: 'short'})}
  </p>
  <Prose class="-mt-2 mb-4 max-w-prose text-lg text-gray-800 md:text-xl"><Content /></Prose>

  <div
    class="grid grid-flow-dense grid-cols-1 items-center gap-y-4 md:grid-cols-2 md:gap-4 lg:grid-cols-3 xl:grid-cols-4"
    data-gallery
  >
    {
      images.map((image) => (
        <a
          href={image.src}
          data-pswp-width={image.width}
          data-pswp-height={image.height}
          class={`relative block overflow-hidden rounded-md ${image.width > image.height ? 'md:col-span-2' : ''}`}
        >
          <ImageWithPlaceholder image={image} alt={`Image from ${gallery.data.name} album`} />
        </a>
      ))
    }
  </div>
</BaseLayout>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox'
  import 'photoswipe/style.css'

  const lightbox = new PhotoSwipeLightbox({
    gallery: '[data-gallery]',
    children: 'a',
    pswpModule: () => import('photoswipe'),
  })
  lightbox.init()
</script>
