---
import path from 'node:path'
import {Image} from 'astro:assets'
import {getPlaiceholder} from 'plaiceholder'
import {readFile} from 'node:fs/promises'

const getPlaceholder = async (path: string) => {
  const buffer = await readFile(path)
  const {css} = await getPlaiceholder(buffer)
  return css
}

// const convertToReadablePath = (src: string) => src.replace(/^\/\@fs/, '').split('?')[0]
const convertToReadablePath = (src: string) => {
  // Check if the src is a local file system path
  if (src.startsWith('/@fs/')) {
    // Remove the '/@fs' prefix and any query parameters
    return src.replace(/^\/\@fs/, '').split('?')[0]
  }

  // Check if the src is an Astro-generated path
  if (src.startsWith('/_astro/')) {
    // Assuming the Astro output directory is in the project root
    // You might need to adjust this based on your project structure
    return path.join(process.cwd(), 'dist', src)
  }

  // If it's neither, return the original src
  // This allows for handling other potential formats
  return src
}

interface Props {
  image: ImageMetadata
  alt: string
  class?: string
}

const {image, alt, class: className} = Astro.props
const placeholderStyle = await getPlaceholder(convertToReadablePath(image.src))
---

<div class="relative w-full overflow-hidden">
  <Image
    src={image}
    alt={alt}
    format="avif"
    quality="mid"
    densities={[1, 2]}
    width={image.width > image.height ? 1000 : 500}
    class:list={['w-full', className]}
  />
  <div class="absolute inset-0 -z-10 h-full w-full scale-150 transform blur-2xl filter" style={placeholderStyle}></div>
</div>
